.pokecard {


    width: 100%;
    max-width: 350px;
    border-radius: 0.7em;
    border: 0.5em solid #999;
    cursor: pointer;
    transition: transform 150ms ease;
    margin: 1em 0 .5em 0 ;



}

@media screen and (max-width:330px) {
    .pokecard {
        margin-left: 1em;
        margin-right: 1em;
    }
}

.pokecard:hover {
    transform: scale(1.03);
}

.pokecard-header {
    background-color: #999;
    aspect-ratio: 2;
    position: relative;

}

.pokecard-image {
    position: absolute;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    top: 1.5em;

}

.pokecard-body {
    padding: 3.5em 1em 2em;
    background-color: white;

}

.pokecard-name {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 0.2em;
}

.pokecard-types {
    display: flex;
    justify-content: center;
    gap: .7em;
    margin-bottom: 1em;
}

.pokecard-typename {
    text-transform: capitalize;
}

.pokecard-typename:nth-child(2)::before {
    content: '/';
    padding-right: .7em;

}

.pokecard-hr {
    margin-bottom: 1em;
    border: 1px solid #ccc4;
}

.pokecard-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 0.5em;
    text-transform: uppercase;
    font-size: .2em;
}

.pokecard-stat {
    display: grid;
    gap: .3em;
    justify-items: center;
}

.pokecard-stat-name {
    font-size: 0.7rem;
    font-weight: 400;
    text-transform: 1em;
}

.pokecard-stat-name-value {
    font-weight: 600;
    font-size: 1rem;
}

/* Background card */
.fire-gradient {
    background: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);

}

.water-gradient {
    background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);


}

.grass-gradient {
    background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);

}

.bug-gradient {
    background: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);

}

.normal-gradient {
    background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);


}

.poison-gradient {
    background: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);

}

.electric-gradient {
    background: linear-gradient(177.03deg, #979203 -11.97%, #fffa25 71.28%, #fff9d5 135.64%);
}

.ground-gradient{
    background: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);

}
.fairy-gradient{
    background: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);

}
.fighting-gradient{
    background: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);

}
.psychic-gradient{
    background: linear-gradient(176.83deg, #8b0633ff -8.78%,#ed0f64ff 169.09%, #f55792ff 242.33%);
}
.rock-gradient{
    background: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);

}
.ghost-gradient{
    background: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);

}
.dragon-gradient{
    background: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);

}
.dark-gradient{
    background: linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);

}
.ice-gradient{
    background: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);

}
.steel-gradient{
    background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);

}
.flying-gradient{
    background: linear-gradient(179.75deg, #085865ff -19.96%, #5eb9b4ff 43.67%, #A8A8A8 138.4%);
}
/* Border */

.fire-border {
    border-color: #eb6040;
}
.water-border{
    border-color: rgb(0, 132, 255);
}
.grass-border{
    border-color: rgb(125, 211, 185);
}
.bug-border{
    border-color: #3fb43dff
}
.normal-border{
    border-color:#80575f ;
}
.poison-border{
    border-color:#683a95 ;
}
.electric-border{
    border-color:#aca70a ;
}
.ground-border{
    border-color:#724a0e ;
}
.fairy-border{
    border-color: #a52450;
}
.fighting-border{
border-color:#9b422b ;
}
.psychic-border{
    border-color:#900635ff ;
}
.rock-border{
    border-color:#818183 ;
}
.ghost-border{
    border-color: #3d4681;
}
.dragon-border{
    border-color: #4c939c;
}
.ice-border{
    border-color: #6cc1e5;
}
.dark-border{
    border-color:#050908 ;
}
/* Letras */
.fire-color {
    color: #e55a2d;
}