@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

/** RESET */
* {
    box-sizing: border-box;

}
html{
    font-family: 'Rubik', sans-serif;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

img {
    width: 100%;
    display: block;
}

input {
    font-family: inherit;
    outline: 0;
    border: 0;
}

button {
    font-family: inherit;
    border: 0;
    cursor: pointer;
}
